[Unit]
Description=Supervisor daemon
Wants=network-online.target
After=network-online.target


[Service]
Type=simple
ExecStart=/usr/bin/supervisord  -n -c /etc/supervisor/supervisor.conf
ExecStop=supervisorctl shutdown
ExecReload=supervisorctl reload
Restart=on-failure
RestartSec=8s

[Install]
WantedBy=multi-user.target
